<table>
  <tr>
    <td>Author</td>
    <td>Description</td>
    <td>Created</td>
    <td>Updated</td>
  </tr>
<% @ideas.each  do |idea| %>
  <tr>
    <td><%= idea.author%></td>
    <td><%= idea.description %></td>
    <td><%= idea.created_at %></td>
    <td><%= idea.updated_at %></td>
    <td><%= link_to "delete", idea, :method => :delete, :confirm => "Are you sure?"%></td>
    <td><a href="/idea/edit">edit</a></td>
  </tr>
<% end %>
</table>